* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background image for page */
body {
    background-image: url(./images/background-wallpapers-beautiful-website-sphere-different-backgrounds-2hiuje6.jpg);
    background-size: cover;
    display:flex;
}

/* Font size is 10px due to change in HTML 62.5% makes it easier to track.*/
html {
    font-size: 62.5%; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 4rem;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    width: 25%;
    border-bottom: solid white;
}

h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}
/* Cosmetic for nav bar and footer */
li a:hover {
    text-decoration:underline;
}
li a:visited {
    color:rgb(150, 3, 150);
}

header {
    background-image: url(./images/black\ background\ image.jpg);
    color: white;
    padding: .5rem;

}

header h2 {
    float: left;
    font-size: 2rem;
    margin: 2rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header nav ul li{
    padding: 2rem;
    font-size: 2.5rem;
    font-style:oblique;
}

footer {
    font-size: 2.5rem;
    background-image: url(./images/black\ background\ image.jpg);
    color: white;
    clear: both;
    margin-top: 12.2rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem;
}

footer ul li {
    padding: 3rem;
}

.hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 1rem solid black;
    height: 75rem;
    margin-bottom: 5rem;
}

section article h2 {
    background-image: url(./images/black\ background\ image.jpg);
    border-right:  .5rem solid white;
    padding-left: 5rem;
    padding-right: 5rem;
    color: white;
}

.about-me-panel {
    display:flex;
    flex-direction: row;
    text-align: center;
    margin: 2rem 0 4rem 0;
}

.about-me-p {
    background-color: white;
    border: solid black;
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
    margin: 0 11rem 0 11rem;
}

.work-panel {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.link-to-applications {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.resizeimg {
    width: 40rem;
    height: 25rem;
    margin: 1rem;
}
/* To make even with other images Wdith: 40rem, Height: 25rem; */
#resizeimg1 {
    background-image: url(./images/first-project.png);
    width: 70rem;
    height: 50rem;
    margin: 1.5rem;
    border: solid black;
}

#text-overlay {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: left;
    margin-top: 40rem;
    background-color: black;
    width: 50%;
    border: solid white;
}


#mywork {
    background-image: url(./images/black\ background\ image.jpg);
    border-bottom:  .5rem solid white;
    padding-left: 5rem;
    padding-right: 5rem;
    color: white;
    margin: 2rem;
    text-align: center;
}

.bigimage {
    display: flex;
}

#avatar {
    height: 50rem;
    border: solid white;
    border-radius: 3rem;
    float: right;
    margin-right: 10rem;
}

.margin-left {
    margin-left: 5rem;
}

#contact {
    float: left;
    padding: 3rem;
    margin-left: 5rem;
}

#resizeimg1:hover #text-overlay {
    filter:contrast(200%);
    box-shadow: 0rem 0rem 5rem 0rem white;
    transition: 1s;
}

#resizeimg1:hover {
    filter:contrast(200%);
    box-shadow: 0rem 0rem 5rem 0rem white;
    transition: 1s;
}

@media all and (max-width: 768px) {
    header, footer {
        width: 95rem;
    }
    .about-me-panel {
       height: 20rem;
    }
    #contact {
        display: none;
    }
    .about-me-p {
        overflow: auto;

    }
    #avatar {
        height: 30rem;
        margin: 0;
    
    }  
}