* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/background-wallpapers-beautiful-website-sphere-different-backgrounds-2hiuje6.jpg);
    background-size: cover;
}

.root {

}

html {
    font-size: 62.5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    font-size: 4rem;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    width: 25%;
    border-bottom: solid white;
}

h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration:underline;
}
a:visited {
    color:rgb(150, 3, 150);
}

header {
    background-image: url(./images/black\ background\ image.jpg);
    color: white;
    padding: .5rem;
    margin-bottom: 1rem;

}

header h2 {
    float: left;
    font-size: 2rem;
    margin: 2rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header nav ul li{
    padding: 2rem;
    font-size: 2.5rem;
    font-style:oblique;
}

footer {
    font-size: 2.5rem;
    background-image: url(./images/black\ background\ image.jpg);
    color: white;
    clear: both;
    margin-top: 12.2rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: .5rem;
}

footer ul li {
    padding: 3rem;
}

section article h2 {
    background-color: white;
    border-right: solid black;
    margin:1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    
}

.about-me-panel {
    display:flex;
    flex-direction: row;
    text-align: center;
}

.about-me-p {
    background-color: white;
    border: solid black;
    border-radius: 1rem;
    padding: .5rem;
    text-align:left;
}

.work-panel {
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 75rem;
}

.hero {
    background-image: url(./images/jacobwillis.jpg);
    background-position: center;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
}
